body {
	font-size:14px; 
	font-family:Arial, Helvetica, sans-serif;
	line-height: 16px;
	margin:0px 20px;
	text-align:left;
}
a { text-decoration: none; }
a:link {color:rgb(0, 0, 238);}      /* unvisited link */
a:visited {color:rgb(0, 0, 238);}  /* visited link */
a:hover {color:rgb(0, 0, 238);}  /* mouse over link */
a:active {color:rgb(0, 0, 238);}  /* selected link */

* {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
  	-o-user-select: none;
    user-select: none;
}

nobr {
    -webkit-touch-callout: text;
  	-webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    -o-user-select: text;
    user-select: text;
}
nobr.blackborderb {cursor: hand; border-top: solid blue 2px;}
nobr.whiteborderb {cursor:pointer; border-top: solid white 2px;}


#menu {
	position:absolute;
	list-style:none;
	margin:-10px auto 0px 50px;
	white-space: nowrap;
	height: 43px;
	padding-left:0px;
	padding-top: 10px;
	/* Rounded Corners */
	
	-moz-border-radius: 0px 0px 10px 10px;
	-webkit-border-radius: 0px 0px 10px 10px;
	border-radius: 0px 0px 10px 10px;

	/* Background color and gradients */
	
	background: #000;
	background: -moz-linear-gradient(top, #000, #444);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#000), to(#444));
	
	/* Borders */
	
	border: 1px solid #002232;

	-moz-box-shadow:inset 0px 0px 1px #edf9ff;
	-webkit-box-shadow:inset 0px 0px 1px #edf9ff;
	box-shadow:inset 0px 0px 1px #edf9ff;
}

#menu li {
	z-index: 20;	
	float:left;
	display:block;
	text-align:center;
	position:relative;
	padding: 4px 10px 4px 20px;
	margin-right:30px;
	margin-top:7px;
	border:none;
}

#menu li:hover {
	
	/* Background color and gradients */
	
	background: #F4F4F4;
	background: -moz-linear-gradient(top, #F4F4F4, #EEEEEE);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F4F4F4), to(#EEEEEE));
	
	/* Rounded corners */
	
	-moz-border-radius: 0px 0px 0px 0px;
	-webkit-border-radius: 0px 0px 0px 0px;
	border-radius: 0px 0px 0px 0px;
}

#menu li a {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px; 
	color: #EEEEEE;
	display:block;
	outline:0;
	text-decoration:none;
	text-shadow: 1px 1px 1px #000;
}

#menu li:hover a {
	color:#161616;
	text-shadow: 1px 1px 1px #ffffff;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 5px 5px;
}

.dropdown_1column, 
.dropdown_2columns {
	margin:4px auto;
	float:left;
	position:absolute;
	left:-999em; /* Hides the drop down */
	text-align:left;
	padding:10px 5px 10px 5px;
	border:1px solid #777777;
	border-top:none;
	
	/* Gradient background */
	background:#F4F4F4;
	background: -moz-linear-gradient(top, #EEEEEE, #BBBBBB);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EEEEEE), to(#BBBBBB));

	/* Rounded Corners */
	-moz-border-radius: 0px 5px 5px 5px;
	-webkit-border-radius: 0px 5px 5px 5px;
	border-radius: 0px 5px 5px 5px;
}

.dropdown_1column {width: 180px;}
.dropdown_2columns {width: 280px;}

#menu li:hover .dropdown_1column, 
#menu li:hover .dropdown_2columns {
	left:-1px;
	top:auto;
}

#menu .menu_right {
	float:right;
	margin-right:0px;
}
#menu li .align_right {
	/* Rounded Corners */
	-moz-border-radius: 5px 0px 5px 5px;
    -webkit-border-radius: 5px 0px 5px 5px;
    border-radius: 5px 0px 5px 5px;
}

#menu li:hover .align_right {
	left:auto;
	right:-1px;
	top:auto;
}

#menu p, #menu h2, #menu h3, #menu ul li {
	font-family:Arial, Helvetica, sans-serif;
	line-height:18px;
	font-size:12px;
	text-align:left;
	text-shadow: 1px 1px 1px #FFFFFF;
}
#menu h2 {
	font-size:21px;
	font-weight:400;
	letter-spacing:-1px;
	margin:7px 0 14px 0;
	padding-bottom:14px;
	border-bottom:1px solid #666666;
}
#menu h3 {
	font-size:14px;
	margin:7px 0 14px 0;
	padding-bottom:7px;
	border-bottom:1px solid #888888;
}
#menu p {
	line-height:18px;
	margin:0 0 10px 0;
}

#menu li:hover div a {
	font-size:12px;
	#color:#015b86;
}
#menu li:hover div a:hover {
	color:#029feb;
}

.textleft {
	text-align: left;
}
.strong {
	font-weight:bold;
}
.italic {
	font-style:italic;
}

.imgshadow { /* Better style on light background */
	background:#FFFFFF;
	padding:4px;
	border:1px solid #777777;
	margin-top:5px;
	-moz-box-shadow:0px 0px 5px #666666;
	-webkit-box-shadow:0px 0px 5px #666666;
	box-shadow:0px 0px 5px #666666;
}
.img_left { /* Image sticks to the left */
	width:auto;
	float:left;
	margin:5px 15px 5px 5px;
}

#menu li .black_box {
	background-color:#333333;
	color: #eeeeee;
	text-shadow: 1px 1px 1px #000;
	padding:4px 6px 4px 6px;

	/* Rounded Corners */
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

	/* Shadow */
	-webkit-box-shadow:inset 0 0 3px #000000;
	-moz-box-shadow:inset 0 0 3px #000000;
	box-shadow:inset 0 0 3px #000000;
}

#menu li ul {
	list-style:none;
	padding:0;
	margin:0 0 12px 0;
}
#menu li ul li {
	font-size:12px;
	line-height:18px;
	position:relative;
	text-shadow: 1px 1px 1px #ffffff;
	padding:0;
	margin:0;
	float:none;
	text-align:left;
	width:130px;
}
#menu li ul li:hover {
	background:none;
	border:none;
	padding:0;
	margin:0;
}

#menu li .greybox li {
	background:#F4F4F4;
	border:1px solid #bbbbbb;
	margin:0px 0px 4px 0px;
	padding:4px 6px 4px 6px;
	width:116px;

	/* Rounded Corners */
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}
#menu li .greybox li:hover {
	background:#ffffff;
	border:1px solid #aaaaaa;
	padding:4px 6px 4px 6px;
	margin:0px 0px 4px 0px;
}




div.index {
	position: fixed; 
	top: 80px;
	left: 0px; 
	width: 100%; 
	height: 90%; 
	overflow-y:auto;
	border-top: solid #ddd 1px; 
	box-shadow: 0px 5px 5px #888, 0px -2px 5px #888;
	z-index: 2;
}

/*error types menu layer (in the annotation error task) */
#errortypes {
    position: absolute;
    background-color: #555;
    color: #ffffff;
    visibility: hidden;
    border: 1px solid #000000;
    z-index:1001;
    margin: 0px;
    opacity: 100;
    font-size: 16px;
    
}

#errmenu {
	cursor: pointer;
}

div.error {background: #fff; z-index:3; position:fixed; top:45px; left:100px; border-left: solid 1px #000; border-bottom: solid 1px #666; padding: 3px; font-size: 16px; margin-bottom: 0px; border-radius: 0px 0px 0px 15px;}
div.sentindex {display: cell; margin-left: 36px; width: 60px; font-size: 13px; padding-top: 5px; text-align: right; vertical-align: top; padding-right: 4px; top: 10px}
div.source {border: solid #bbb 1px; background: #efefef; display: inline-block; font-family:Arial, Helvetica, Sans-Serif; font-size:15px; padding: 4px; padding-bottom: 8px; width: 575px; border-radius: 4px 4px 4px 4px;}
div.outputsource {border: solid #bbb 1px; background: #fff; display: inline-block; font-family:Arial, Helvetica, Sans-Serif; font-size:15px; padding-left: 4px; padding-bottom: 8px; width: 800px; border-radius: 4px 4px 4px 4px;}
div.reference {margin-left: 2px; display: inline-block; font-family:Arial, Helvetica, Sans-Serif; font-size:15px; color: #888; padding: 4px; margin-top: 8px; padding-bottom: 10px;  width: 575px;}
div.output {margin-left: 2px; display: inline-block; font-family:Arial, Helvetica, Sans-Serif; font-size:15px; padding: 3px; margin-top: 8px; margin-right: 8px; width: 800px; border: solid #aaa 1px; padding: 4px; top: -10px}
div.none {margin-left: 2px; display: inline; font-family:Arial, Helvetica, Sans-Serif; font-size:15px; margin-top: 8px; margin-right: 8px; width: 590px; border: solid #aaa 1px; padding: 4px; top: -10px}

div.head {border-top: solid #000 1px;}
div.rtl {direction:rtl;}
div.label {display: table-cell; white-space: nowrap; padding-top: 5	px; padding-right: 3px; text-align: right; width: 100px; font-size: 14px}
div.labelref {display: table-cell; white-space: nowrap; padding-top: 5px; padding-right: 3px; text-align: right; width: 100px; font-size: 14px; padding-bottom: 9px; color: #888}
div.check {display: inline-block; margin-top: 13px; padding-right: 10px; width: 11px; text-align: center; vertical-align: top}
div.bglgreen {background: lightgreen; }
div.log {bottom: 30px; right: 20px; display: block; position: fixed; font-size: 10px}
div.debug {float: right; right: 0px; bottom: 30px; background: lightyellow; padding: 3px; border: solid #999 1px; display: inline; position: fixed}

div.orangeborderb {display: inline-block; cursor:pointer; cursor: hand; border-top: solid orange 2px;}
div.whiteborderb {display: inline-block; cursor:pointer; border-top: solid white 2px;}
div.orangebg {display: inline-block; cursor: pointer; cursor: hand; background: orange;}
div.whitebg {display: inline-block; cursor:default; background: white;}

div.token {display: inline-block; margin-bottom: 0px; border-top: solid white 2px;}
div.donebottom {background: #cde;  bottom: -3px; display: inline-block; position: fixed; text-align: left; font-size: 14px; padding: 5px; right: 40px; border: solid #999 1px; border-radius: 15px 15px 0px 0px; z-index: 1000}

td.black { background-color: black; }
td.white { background-color: #ccc; }
td.gray  { background-color: gray; }
td.highlight  { background-color: #000; }
td.blue {background-color: blue}
td.yellow {background-color: lightyellow}
td.red {background-color: red}

div.container {
	width: 100%;
	display: table ;
}

div.row  {
	display: table-row;
}

div.left {
    width:150px;
}

div.right {
    display: table-cell;
    float: left;
}

div.cell {
	display: table-cell;
	vertical-align: top;
}
option.lineseparator { border-bottom: 2px solid #000; }
    
.nowhitespace { font-size: 0; }
.nowhitespace > span { font-size: 16px; }


